sudo: required
language: python
matrix:
  include:
    - python: 3.5
      env: TOXENV=py35
    - python: 3.6
      env: TOXENV=py36
    - python: 3.6
      env: TOXENV=scaffolds-36
    - python: 3.6
      env: TOXENV=scaffolds-36-rest-api
    - env: TOXENV=pep8
cache: pip

install:
  - travis_retry pip install tox

script:
  - tox -r

notifications:
  irc:
    channels:
      - "chat.freenode.net#pecanpy"
